version: '3.9'

services:
  # Postgres DB service
 
  # Backend service
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: dependency-base
    container_name: backend_service
    ports:
      - ${APP_PORT:-5555}:${APP_PORT:-5555}
    expose:
      - ${APP_PORT:-5555}
    volumes:
      - .:/app
    networks:
      - leave_management_service_network
    depends_on:
      - redis
    restart: on-failure
    tty: true
    stdin_open: true
    environment:
      # App
      - APP_PORT=${APP_PORT}
      
      # Redis
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_SESSION_SECRET_KEY=${REDIS_SESSION_SECRET_KEY}
      
      # Services
      - USER_MANAGEMENT_URL=${USER_MANAGEMENT_URL}
      - SSO_URL=${SSO_URL}
      
      # JWT
      - JWT_ACCESS_TIME=${JWT_ACCESS_TIME}
      - JWT_REFRESH_TIME=${JWT_REFRESH_TIME}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      
      # Mail
      - NODEMAILER_HOST=${NODEMAILER_HOST}
      - NODEMAILER_PORT=${NODEMAILER_PORT}
      - NODEMAILER_USER_MAIL=${NODEMAILER_USER_MAIL}
      - NODEMAILER_USER_PASSWORD=${NODEMAILER_USER_PASSWORD}

  # Redis service
  redis:
    image: redis:7.2-alpine
    container_name: local_redis
    restart: always
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
      - redis_data:/data
    networks:
      - leave_management_service_network

networks:
  leave_management_service_network:
    name: leave-management-network
    external: true

volumes:
  pg_data: {}
  pgadmin_data: {}
  redis_data: {}
# docker network create leave-management-network
