#snackbar{
    min-width: 288px;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #fff;
    padding: 6px 16px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    background-color: #E53935;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: absolute;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
    bottom: 16px;    

    .message{
        padding: 8px 0 !important;
    }

    .material-symbols-outlined{
        color: #fff !important;
        font-size: 20px !important;
        cursor: pointer;

        &:hover{
            background-color: inherit !important;
            filter: brightness(0.95);
            border-radius: 50%;
        }
    }
}
