DB_HOST=database
DB_PORT=5432
DB_DATABASE=automation
DB_USER=postgres
DB_PASSWORD=admin
DB_SSL=false
DB_PUBLIC_SCHEMA=public
KAFKA_BROKERS=kafka:29092
KAFKA_CLIENT_ID=lms-automation
KAFKA_TOPIC=zapier-events
KAFKA_GROUP_ID=automation-consumer
