APP_PORT=8000
NEXT_PUBLIC_URL=http://localhost:8000
NODE_ENV=development

# Available storage types: local, gcs
STORAGE_TYPE=local

# local storage path
LOCAL_STORAGE_PATH=./uploads

# firebase config
STORAGE_BUCKET=
GCS_CREDENTIALS_PATH=